<%= render 'header', :title => 'Send test message' %>

<<<<<<< HEAD
<<<<<<< HEAD
<section class="main-content">
	<%= render "flashes" -%>
=======
<div class="main-content">
>>>>>>> bd249c1... add header partial
=======
<section class="main-content">
	<%= render "flashes" -%>
>>>>>>> 86338a7... flashes
  <%= simple_form_for :test_message, url: scheduled_message_test_messages_path(@message) do |form| %>
    <%= form.input :body, input_html: { value: @message.body }, readonly: true, label: "Message body to send (to edit, update the scheduled message you are testing)" %>
    <%= form.input :slack_username, label: "Slack username to send test to", as: :string %>
    <%= form.submit "Send test" %>
  <% end %>
<<<<<<< HEAD
<<<<<<< HEAD
</section>
=======
</div>
>>>>>>> bd249c1... add header partial
=======
</section>
>>>>>>> 86338a7... flashes
